@{
    ViewBag.Title = "Главная страница";
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="angularFormsApp">
<head>
    <title>@ViewBag.Title</title>    

    @Scripts.Render("~/bundles/mini-spa/script")
    @Styles.Render("~/bundles/mini-spa/style")
</head>
<body class="container">
    <br />
    <div ng-view></div>

</body>

</html>